<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My Winery App!</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    @RenderBody()
    <script src="~/FrontEndWinery/dist/FrontEndWinery/runtime-es2015.js" type="module"></script>
    <script src="~/FrontEndWinery/dist/FrontEndWinery/runtime-es5.js" nomodule defer></script>
    <script src="~/FrontEndWinery/dist/FrontEndWinery/polyfills-es5.js" nomodule defer></script>
    <script src="~/FrontEndWinery/dist/FrontEndWinery/polyfills-es2015.js" type="module"></script>
    <script src="~/FrontEndWinery/dist/FrontEndWinery/styles-es2015.js" type="module"></script>
    <script src="~/FrontEndWinery/dist/FrontEndWinery/styles-es5.js" nomodule defer></script>
    <script src="~/FrontEndWinery/dist/FrontEndWinery/vendor-es2015.js" type="module"></script>
    <script src="~/FrontEndWinery/dist/FrontEndWinery/vendor-es5.js" nomodule defer></script>
    <script src="~/FrontEndWinery/dist/FrontEndWinery/main-es2015.js" type="module"></script>
    <script src="~/FrontEndWinery/dist/FrontEndWinery/main-es5.js" nomodule defer></script>
</body>
</html>
